
<script type="text/javascript">

    result_names = <%= ExecutionResult.all.collect { |x| x.name }.to_json.html_safe %>

    function refresh()
    {
        el = document.getElementById('filter_id_');
        filtered = el.options[el.selectedIndex].text;
        for (i = 0; i < result_names.length; i++)
        {
            els = document.getElementsByName(result_names[i]);
            for (k = 0; k < els.length; k++)
            {
                els[k].style.display = ((filtered == 'All results') || (result_names[i] == filtered)) ? 'table-row' : 'none';
            }
        }
    }

</script>

<table class="redcase-row" style="width: 100%; margin: 0px; text-align: center">
    <tr style="font-weight: bold; background-color: #507aaa; color: white; text-align: center; vertical-align: top">
        <td style="width: 45px; vertical-align: middle; border-left-width: 0px; border-top-width: 0px; padding: 6px"><%= l('label_id') %></td>
        <td style="width: 110px; vertical-align: middle; border-top-width: 0px; padding: 6px"><%= l('label_name') %></td>
        <td style="width: 80px; vertical-align: middle; border-top-width: 0px; padding: 6px"><%= l('label_date') %></td>
        <td style="width: 115px; vertical-align: middle; border-top-width: 0px; padding: 6px">
            <%= select('filter_id', nil, ExecutionResult.all.collect { |x| [x.name, x.id] } << ['All results', 0], { :selected => 0 }, { :style => 'width: 100%' }) %>
            <%= observe_field 'filter_id_', :function => "refresh()" %>
        </td>
        <td style="vertical-align: middle; border-top-width: 0px; padding: 6px"><%= l('label_executor') %></td>
        <td style="width: 25px; vertical-align: middle; border-right-width: 0px; border-top-width: 0px; padding: 6px">&nbsp;</td>
    </tr>
    <% @results.each do |x| %>
    <%
        color = case x.result.name
            when 'Failed'        then '#ffd8d8'
            when 'Passed'        then '#bbff88'
            when 'Blocked'       then '#ccccff'
            when 'Not Available' then '#dddddd'
            else '#FFFFFF'
        end
    %>
        <tr style="background-color: <%= color %>" name="<%= x.result.name %>">
          <td style="border-left-width: 0px"><%= link_to x.test_case.issue.id, { :controller => 'issues', :action => :show, :id => x.test_case.issue.id }, :target => '_blank' %></td>
            <td><%= link_to x.test_case.issue.subject, { :controller => 'issues', :action => :show, :id => x.test_case.issue.id }, :target => '_blank' %></td>
            <td><%= x.created_on.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= x.result.name %></td>
            <td><%= link_to x.executor, { :controller => 'users', :action => :show, :id => x.executor.id }, :target => '_blank' %></td>
            <td style="border-right-width: 0px">
                <% if not x.comment.blank? then %>
                    <small style="font-weight: normal; color: inherit"><%= link_to image_tag("info.png", :plugin => 'redcase', :size=> '16x16'), {}, :onclick => "jQuery('##{x.id}').toggle(150); return false;" %></small>
                <% end %>
            </td>
        </tr>
        <tr name="<%= x.result.name %>" style="background-color: #ffffee; width: 100%; text-align: left; border-left-width: 0px; border-right-width: 0px">
            <td colspan="6" style="display: none" id="<%= x.id %>"><%= textilizable(x.comment) %></td>
        </tr>
    <% end %>
</table>
